
@{
    ViewData["Title"] = "Index";
}
<form action="" method="post">
    Login:<br>
    <input type="text" id="login" />
    <br>Senha:<br>
    <input type="text" id="senha" onclick="Index.click()" />
    
    <input type="button" id="enviar" value="entrar" onclick="index.Gravar()" />
</form>


